<h2><button id="home"><a href="/">Home</button></a></h2>
<h1>Create a Meetup</h1>

<form action="/meetups/new" method="post" id="form1">
	<label for="name">Name of Meetup: </label><input type="text" id="name" name="name" value="<%= @name %>"/>
	<label for="description">Description: </label><input type="text" id="description" name="description" value="<%= @description %>"/>
	<label for="location">Location: </label><input type="text" id="location" name="location" value="<%= @location %>"/>

  <button type="submit" form="form1" value="Create Meetup">Create Meetup</button>
</form>
