<h1>Meetup Details</h1>
 <!-- I should see the name, description, location, and the creator of the meetup. -->

<!-- I should see a list of the members that have joined the meetup -->
<!-- I should see each member's avatar and username. -->

<!-- There should be a button to join the meetup if I am not signed
 in or if I am signed in, but I am not a member of the meetup. -->

 <!-- If I am signed in and I click the button, I should see a
 message that says that I have joined the meetup and I should
 be added to the meetup's members list. -->

 <!-- If I am not signed in and I click the button, I should
 see a message which says that I must sign in. -->
