
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

.meetups li{
  display: block;
  font-style: normal;
}

.name {
  color: #FF66CC;
}

.details_name {
  font-family: Andale mono;
  font-size: 3em;
}
#details_ul_style {
  padding-left: 2em;
}

.details_text {
  display: inline-block;
  font-family: Monaco;
  font-variant: small-caps;
  font-size: 1.5em;
  font-style: normal;
  color: #FF66CC;
}

.details_text_color {
  color: #D2EB9A;
  font-size: 1.3em;
  padding-bottom: 10px;
}

#home {
  color: #FFA500;
  display:inline;
  font-family: Sans-serif;
  font-weight: bold;
  font-size: 10px;
  vertical-align: middle;
  line-height: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px;
  /*background-color: #F8F8FF;*/
  background-size: 50px 80px;
  height: 25px;
  width: 50px;
}
#avatar {
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  height: 20px;
  width: 20px;
}

#button_align {
  padding-left: 10px;
  padding-top: 10px;
}

#join {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
}

.join:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
